extends container

block content
    div
        | Wow, you have a new opportunity
        div
            | Search for Employing Overseas workforce. View interesting information, and much more. Find the answers to your questions on Vertro. Enjoy a fast and easy browsing experience. Quick Web Browsing. Optimized Search Results. Accurate Information.
        a(href=newPositionUrl) position link
        p Good luck!