extends container

block content
    div
        | Ops, you have missed the opportunity
        p Search for Employing Overseas workforce. View interesting information, and much more. Find the answers to your questions on Vertro. Enjoy a fast and easy browsing experience. Quick Web Browsing. Optimized Search Results. Accurate Information.
        p Good luck the next time